body {
    font-family: sans-serif;
}

header {
    background-color:#33CCCC;
    border-radius:60px|;
}
header img{
    border-radius:20px;
}
header a{
    text-decoration:none;
    font-color:blue;
    background-color:white;
    border-radius:15px;
    padding:3px;
}
h1{
    color:blue;
    text-align:center;
    border:6px solid royalblue;
    border-radius:30px;
    font-size:30px;
    text-transform: uppercase;
}
footer {
    font-family:sans-serif;
    border:1px solid #33CCCC;
    background-color:#33CCCC;
}
footer p{
    border:10px solid white;
    background-color:#33CCCC;
    padding:15px;
}

nav {
    margin:15px;
    padding:15px;
}

nav a{
    margin:5px;
    padding:5px;
    text-decoration:none;
    border:3px solid darkblue;
    border-radius:5px;
    color:white;
    background-color:darkblue;
}

.production{
    background-color:white; 
    color:royalblue;
}
.im{
    padding:5px;
}
.center{
    padding-left: 30%;
}
.tabll {
    border: 2px solid black;
    padding:5px;
    margin-left:330%;
    border-radius:5px;
    text-align:center;
}
